# These are personal files for each install, so you should _never_ share them:

# ...the config file
config.json

# ...internal DB
internal.db

# ...and SSL certificates
certs/

# These below are leftovers that shouldn't be tracked.
# They don't have too much purpose when shared.
__pycache__/
workfiles/
