{
    "CFG_VER": 2,
    "DEVELOPER": false,
    "TITLEBAR_TEXT": "WoW-Emu-Manager",
    "SECRET": "CHANGEME",
    "SITE_PORT": 8000,
    "HTTPS": false,
    "HTTPS_PORT": 443,
    "DB_USER": "mangos",
    "DB_PASS": "mangos",
    "DB_ADDR": "127.0.0.1",
    "DB_PORT": 3306,
    "DB_NAME_CHARS": "characters",
    "DB_NAME_CORE": "mangosd",
    "DB_NAME_REALMD": "realmd",
    "REG_DISABLED": false,
    "LOGIN_DISABLED": false,
    "DEFAULT_ADDON": 1
}
