<!DOCTYPE html>
<!-- I sincerely apologize for whatever lies ahead. But it, nontheless, will be
better than what it was before; thus by my decree - it will happen! -->
<html>
    <head>
        <!-- If you're a chrome user - the black thingies happen around on chrome's whim,
        seriously. You, guys, and your jpg-renderer are like that. Lookin' great in FF :D -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
        <title>{{ CONFIG['PAGE_TITLE'] }}{% block title %}{% end %}</title>
        <link rel="stylesheet" href="{{ static_url('main.css') }}"/>
        <!--<link rel="favicon" href="{{ static_url('images/favicon.ico') }}"/>-->
        <link rel="license" href="https://github.com/Levitanious/GLWTPL/blob/master/LICENSE.md"/>
    </head>
    <!-- "Tempest CMS", BECAUSE WE GOTTA BE BOLD WITH OUR NAMING. -->
    <body>
        <!-- It's all flex now, are you happy? -->
        <div id="header">
            <div id="header-inner-fix">
                <div id="linkbox-top">
                    <a href="/">Frontpage</a>
                    <a href="/serverstatus">Server Status</a>
                    <a href="/armory">Armory</a>
                </div>
                <div id="profilebox">
                    <span id="pbox_left"></span>
                    <span id="pbox_mid">
                            {% if ( DATA['USERNAME'] ) %}
                            <div id="pbox_fields_off">
                            User: {{ DATA['USERNAME'] }}
                            </div>
                            <span id="pbox_controls">
                                <a href="/profile"><img src="/static/images/button-profile.gif"/></a>
                                <a href="/logout"><img src="/static/images/button-logout.gif"/></a>
                            </span>
                            {% else %}
                            <form action="/login" method="POST">
                                <div id="pbox_fields_on">
                                    Login: <input name="l" size="14" maxlength="16" type="text"/>
                                    Password: <input name="p" size="14" maxlength="16" type="password"/>
                                </div>
                                {% module xsrf_form_html() %}
                                <span id="pbox_controls">
                                    <a href="/register">Create Account</a>
                                    <input type="image" src="/static/images/button-login.gif" value="login"/>
                                </span>
                            </form>
                            {% end %}
                    </span>
                    <span id="pbox_right"></span>
                </div>
            </div>
        </div>
        <div id="main-container">
            <div id="center-border-top">
                <div id="center-border-top-left"></div>
                <div id="center-border-top-mid"></div>
                <div id="center-border-top-right"></div>
            </div>
            <div id="center">
                <div id="left_pane">
                </div>
                <div id="center-border-mid-left"></div>
                <div id="content">
                    {% block content %}
                    {% end %}
                </div>
                <div id="center-border-mid-right"></div>
                <div id="right_pane">
                </div>
            </div>
            <div id="center-border-bot">
                <div id="center-border-bot-left"></div>
                <div id="center-border-bot-mid"></div>
                <div id="center-border-bot-right"></div>
            </div>
        </div>
        <div id="footer">© All Images and Logos are Copyright 2010 Blizzard Entertainment</div>
    </body>
</html>