{% extends "main_template.html" %}

{% block title %}
Registration
{% end %}

{% block content %}
    <div id="message-container">
        <div id="message-header">
            <h1>Create New Account</h1>
        </div>
        <div id="message-body" class="just">
            <ul>
                <lh><p>Account creation guidelines:</p></lh>
                <li>Username / password must not exceed 16 characters </li>
                <li>Use characters from range: A-Z, 0-9 (special chars are forbidden)</li>
            </ul>
            </br>
            <center id="registration_form">
                <form action="/register" method="POST">
                    <p>
                        <input type="text" maxlength="16" name="l" placeholder="<Your Username>"/>
                        <input type="password" maxlength="16" name="p" placeholder="<Your Password>"/>
                    </p>
                    {% module xsrf_form_html() %}
                    <p>
                        <input id="registration_submit" name="just_registered" type="submit" value=""/>
                    </p>
                </form>
            </center>
        </div>
        <p>
            <a href='/'>[Return to Main Page]</a>
        </p>
    </div>
{% end %}
