{% extends "main_template.html" %}

{% block title %}
Server Status
{% end %}

{% block content %}
    <div id="message-container">
        <div id="message-header">
            <h1>Server Status</h1>
        </div>
        <div id="message-body" class="just">
            <ul>
                <li>Address: {{ DATA['serverstatus']['address'] }}</li>
                <li>Name: {{ DATA['serverstatus']['name'] }}</li>
                <li>Server is: {{ DATA['serverstatus']['status'] }}</li>
                <li>Server Population: {{ DATA['serverstatus']['population'] }}</li>
            </ul>
        </div>
        <p>
            <a href='/'>[Return to Main Page]</a>
        </p>
    </div>
{% end %}
