/*=============================================================================*/
/* Technical Styles: Applied to whole page, used as very basic building block. */
/*=============================================================================*/

html {
    margin: 0px;
    padding: 0px;

    color: orange;

    background-color: black;

    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

html * {
    list-style: square;
}

body {
    display: flex;
    flex-flow: column nowrap;

    margin: inherit;
    padding: inherit;

    min-width: 720px;
}

/*======================*/
/* EOF Technical Styles */
/*======================*/


/*==================================================================*/
/* Core Styles: This is where the majority of main styles will live */
/*==================================================================*/

/* Header */

#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    background: url("images/page-bg-top.jpg") repeat-x 0 0;

    height: 88px;
}

#header-inner-fix {
    display: flex;
    flex-flow: row nowrap;

    width: 716px;
}

#linkbox-top {
    flex: auto;

    font-weight: bold;

    margin-top: 67px;
    padding-left: 20px;
}

#linkbox-top a {
    color: inherit;
}

/* Login box */

#profilebox {
    flex: auto;

    margin-top: 32px;
    max-width: 430px;

    text-align: right;
    font-weight: bold;
}

#profilebox * {
    vertical-align: middle;
    color: inherit;
}

#profilebox a {
    margin-right: 10px;
}

#pbox_mid input, #registration_form input {
    background-color: #040D1A;
    border-color: #7F7F7F;
    font-size: 12px;
}

#pbox_mid {
    background-image: url("images/pbox-mid.gif");
    width: 396px;
    height:27px;
    float: left;
    padding-top: 7px;
}

#pbox_fields_off {
    height: 22px;
    padding-top: 5px;
    padding-left: 10px;
    float: left;
}

#pbox_fields_on {
    padding-top: 2px;
}

#pbox_controls {
    float: right;
    padding-top: 1px;
}

#pbox_left {
    background-image: url("images/pbox-left.gif");
    width: 16px;
    height: 34px;
    float: left;
}

#pbox_right {
    background-image: url("images/pbox-right.gif");
    width: 8px;
    height: 34px;
    float: left;
}

/* EOF Login box */

/* EOF Header */

/* Content pane */

#main-container {
    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
}

#left-pane,
#right-pane {
    display: flex;
    flex-flow: row nowrap;

    min-width: 120px;
}

#left-pane {
    justify-content: flex-end;
}

#linkbox-left {
    display: flex;
    flex-flow: column nowrap;

    margin-top: 10px;
    margin-right: 5px;
}

#linkbox-left a {
    margin-bottom: 5px;

    color: inherit;

    font-weight: bold;
    text-align: right;
}

#middle-pane {
    display: flex;
    flex-flow: column nowrap;

    min-width: 600px;
    min-height: 775px;
}

#right-pane {
    justify-content: flex-start;
}

#content {
    flex: auto;
    overflow: auto;

    color: black;

    background-image: url("images/content-bg-plain.jpg");

    text-align: center;
    word-wrap: break-word;

    font-size: 15px;
}

#content a {
    color: inherit;

    font-weight: bold;
}

#message-container {
    display: flex;
    flex-flow: column nowrap;

    margin-top: 35px;
    margin-bottom: 35px;

    min-height: 600px;

    text-align: center;

    /* font-weight: bold; */
    font-size: 18px;
}

#message-header {

}

#message-body {
    flex: auto;
}

#message-body h3 {
    margin-left: 35px;
    margin-right: 35px;
}

/* EOF Content pane */

/* Content borders */

.border-vertical {
    min-width: 58px;
}

#border-vertical-left {
    background: url("images/border-left.gif") repeat-y top left;
}

#border-vertical-right {
    background: url("images/border-right.gif") repeat-y top right;
}

/* EOF Content borders */

/* Footer */

#footer {
    background: url("images/page-bg-bot.jpg") repeat-x top;

    padding-top: 22px;

    text-align: center;
}

/* EOF Footer */

/*=================*/
/* EOF Core Styles */
/*=================*/


/*=====================================*/
/* Modules: Different reusable widgets */
/*=====================================*/

.just {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/* Registration */

#registration_form form p input {
    color: orange;
}

#registration_submit {
    background-image: url("/static/images/create_account-button.gif");
    width: 174px;
    height: 46px;
}

/* EOF Registration */

/* News */

#news {
    font: small-caps 21px/24px georgia, "times new roman", times, serif;
    letter-spacing: -1px;
}

.news-entry-header {

}

.news-entry-text {
    border-bottom: 1px solid #b6904f;

}

.news-entry-timestamp {

}

/* EOF News */

/*=============*/
/* EOF Modules */
/*=============*/